<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Code.me</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<div id="header">
			<div class="container logo_header">
				<h1><span id="code_me_logo">Code.me</span></h1>
			</div>
		</div>
			<div class="container">
				<nav id="m-menu" >
					<ul>
						<li>
							<label for="menuBtn" class="sr-only">ToggleMenu</label>
							<a id="menuBtn"  class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></a>
						</li>
						<li>
							<label for="annoBtn" class="sr-only">Ogłoszenia</label>
							<a id="annoBtn" href="/ogloszenia" class="glyphicon glyphicon-duplicate" aria-hidden="true"></a>
						</li>
						{{^user}}
						<li>
							<label for="regiBtn" class="sr-only">Rejestracja</label>
							<a id="regiBtn" href="/rejestracja" class="glyphicon glyphicon-edit" aria-hidden="true"></a>
						</li>
						<li>
							<label for="loginBtn" class="sr-only">Zaloguj się</label>
							<a id="loginBtn" href="/zaloguj" class="glyphicon glyphicon-log-in" aria-hidden="true"></a>
						</li>
						{{/user}}
						{{#if user}}
						<li>
							<label for="addAnnBtn" class="sr-only">Dodaj ogłoszenie</label>
							<a id="addAnnBtn" href="/dodaj_ogloszenie" class="loguser glyphicon glyphicon-plus" aria-hidden="true"></a>
						</li>
						<li>
							<label for="editProfileBtn" class="sr-only">Zobacz Profil</label>
							<a id="editProfileBtn" href="/profil" class="loguser glyphicon glyphicon-wrench" aria-hidden="true"></a>
						</li>
						<li>
							<label for="logOutBtn" class="sr-only">Wyloguj się</label>
							<a id="logOutBtn" href="/wyloguj" class="glyphicon glyphicon-off" aria-hidden="true"></a>
						</li>
						{{/if}}
					</ul>
				</nav>
			</div>
		<div id="body" style="margin-top:50px">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<div class="container">
			<div id="footer">
				<p>Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.</p>
			</div>
		</div>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		<script src="/js/scripts/toggleMenu.js"></script>
		<script src="/js/scripts/checkAlert.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
