<div class="container" >
    <h1 class="text-center">Dodaj ogłoszenie</h1>
    <form action="/dodaj_ogloszenie" method="POST">
      <div class="form-group row">
          <div class="col-md-offset-3 col-md-6">
              <label for="titleInput">Tytuł ogłoszenia</label>
              <input id="titleInput" class="form-control" type="text" value="{{form.title}}" placeholder="Tytuł ogłoszenia" name="title">
          </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-3 col-md-3">
              <label for="minSalaryInput">Stawka minimalna</label>
                <input id="minSalaryInput" class="form-control" type="text" value="{{form.minSalary}}" placeholder="Stawka minimalna" name="minSalary">
            </div>

            <div class="col-md-3">
              <label for="maxSalaryInput">Stawka maksymalna</label>
                <input if="maxSalaryInput" class="form-control" type="text" value="{{form.maxSalary}}" placeholder="Stawka maksymalna" name="maxSalary">
            </div>
      </div>
      <div class="form-group row">
        <div class="col-md-offset-3 col-md-3">
          <label for="salaryTypeInput">Okres płatności</label>
            <select id="salaryTypeInput" class="form-control" name="salaryType">
              <option value="na godzinę">na godzinę</option>
              <option value="na tydzień">na tydzień</option>
              <option value="na miesiąc">na miesiąc</option>
            </select>
          </div>
            <div class="col-md-3">
              <label for="remoteInput">Praca zdalna</label>
                <select id="remoteInput" class="form-control" type="text" name="remote">
                    <option value="tak">tak</option>
                    <option value="nie">nie</option>
                </select>
            </div>
      </div>
      <div class="form-group row">
          <div class="col-md-offset-3 col-md-6">
              <label for="briefInput">Krótka treść ogłoszenia</label>
              <textarea id="briefInput" class="form-control" type="text" name="contentBrief">
                {{form.contentBrief}}
                </textarea>
          </div>
        </div>
      <div class="form-group row">
          <div class="col-md-offset-3 col-md-6">
              <label for="extendedInput">Długa treść ogłoszenia</label>
              <textarea id="extendedInput" class="form-control" type="text" name="contentExtended">
                {{form.contentExtended}}
                </textarea>
          </div>
        </div>

        <div class="form-group row text-center">
            <div class="col-md-offset-3 col-md-6">
              <label for="sendBtn" class="sr-only">Wyślij</label>
                <button id="sendBtn" class="btn btn-info" type="submit">Wyślij</button>
            </div>
        </div>
    </form>
</div>
<script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
<script type="text/javascript">
   CKEDITOR.replace( 'extendedInput' )
   CKEDITOR.replace( 'briefInput' )
</script>
