
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <article class="articleCont">
        <p><a href="/ogloszenia">&larr; Wróć do listy ogłoszeń</a></p>
        <hr>
        <header>
          <h1>{{post.title}}</h1>
          <h5>{{#if post.author.name.first}}przez {{post.author.name.first}}{{/if}}</h5>
        </header>
        <div class="post">
          <p>Stawka: {{{post.minSalary}}} - {{{post.maxSalary}}} zł {{{post.salaryType}}}</p>
          <p>Praca zdalna: {{{post.remote}}}</p>
          <strong>Opis:</strong><br>
          {{{post.content.extended}}}
        </div>
      {{#if user}}
      {{#diff user.nick post.author.nick}}
      {{#userIn user._id post.applyGr}}
      <form class="" action="/dodaj_uzytkownika" method="post">
        <button class="btn btn-info" type="submit" name="apply">Zgłoś sie do projektu</button>
      </form>
      {{/userIn}}
      {{#userOut user._id post.applyGr}}
        <div class="label label-success">
          Już zgłosiłeś swój profil do tego ogłoszenia.
        </div>
      {{/userOut}}
      {{/diff}}
      {{/if}}
      {{#if user}}{{#same user.nick post.author.nick}}
      <h4>Do projektu zgłosili się:</h4>
      {{#each post.applyGr}}
          <p>{{this}}<p>
        {{/each}}
        {{/same}}{{/if}}
      </article>
    </div>
  </div>
</div>
