
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <article class="articleCont">
        <p><a href="/ogloszenia">&larr; Wróć do listy ogłoszeń</a></p>
        <hr>
        <header>
          <h1>{{post.title}}</h1>
          <h5>{{#if post.author.name.first}}przez {{post.author.name.first}}{{/if}}</h5>
        </header>
        <div class="post">
          <p>Stawka: {{{post.minSalary}}} - {{{post.maxSalary}}} zł {{{post.salaryType}}}</p>
          <p>Praca zdalna: {{{post.remote}}}</p>
          <strong>Opis:</strong><br>
          {{{post.content.extended}}}
        </div>
      {{#if user}}{{#diff user.nick post.author.nick}}<button class="btn btn-info" type="submit" name="apply">Zgłoś sie do projektu</button>{{/diff}}{{/if}}
      {{#if user}}{{#same user.nick post.author.nick}}<h4>Do projektu zgłosili się</h4>
      <p>{{post.applyGr}}<p>
        {{/same}}{{/if}}
      </article>
    </div>
  </div>
</div>
