
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <article class="articleCont">
        <p><a href="/ogloszenia">&larr; Wróć do listy ogłoszeń</a></p>
        <hr>
        <header>
          <h1>{{post.title}}</h1>
          <h5>{{#if post.author.name.first}}przez <a href="{{userUrl post.author.slug}}">{{post.author.name.first}}</a>{{/if}}</h5>
        </header>
        <div class="post">
          <p>Wymagane doświadczenie: {{post.exp}}</p>
          <p>Nagroda w postaci doświadczenia: {{post.expForEmp}}</p>
          <p>Stawka: {{{post.minSalary}}} - {{{post.maxSalary}}} zł {{{post.salaryType}}}</p>
          <p>Praca zdalna: {{{post.remote}}}</p>
          <strong>Opis:</strong><br>
          {{{post.content.extended}}}
        </div>

      {{#if user}}

        {{#diff user.nick post.author.nick}}

          {{#userExp user.exp post.exp }}

            {{#userIn user._id data.users_id}}
              <form class="" action="/dodaj_uzytkownika" method="post">
                <button class="btn btn-info" type="submit" name="apply">Zgłoś się do projektu</button>
              </form>
            {{/userIn}}

            {{#userOut user._id data.users_id}}
              <div class="label label-success">
                Już zgłosiłeś swój profil do tego projektu.
              </div>
            {{/userOut}}
          {{/userExp}}
          {{#postExp post.exp user.exp}}
            <div class="">
              Niestety masz za mało doświadczenia.
            </div>
          {{/postExp}}
        {{/diff}}


        {{#same user.nick post.author.nick}}
          {{#if data.newEmp}}
            <h4>Do projektu zgłosili się:</h4>
            <form class="" action="/zamknij_ogloszenie" method="post">

            {{#each data.users_exp}}
                <div>
                  {{data.users_exp}}
                <input type="checkbox" name="chfexp" value="{{slug}}">
                  <a href="{{userUrl slug}}">{{nick}}</a> , {{email}}, {{exp}}
                </dic>
            {{/each}}
            <br>
            <button type="submit" class="btn btn-info" name="close" >Zamknij ogłoszenie i daj doświadzenie</button>
          </form>
          {{/if}}
          {{#unless data.users_exp}}
            <h4>Brak zgłoszeń.</h4>
          {{/unless}}
        {{/same}}

      {{/if}}
      </article>
    </div>
  </div>
</div>
