
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <article class="articleCont">
        <p><a href="/ogloszenia"> <span class="glyphicon glyphicon-arrow-left"></span> Wróć do listy ogłoszeń</a></p>
        <hr>
        <header>
          <h1 class="post_details_style">{{post.title}}</h1>
          {{#if post.author.name.first}}
          <h3 class="authorSection" ><a href="{{userUrl post.author.slug}}">{{post.author.name.first}}</a></h3>
          {{/if}}
          <ul id="post_details">
                <li class="label label-success">Stawka {{{post.salaryType}}} {{{post.minSalary}}} - {{{post.maxSalary}}} zł</li>
                <li>{{#userExp post.exp user.exp}}
        									<span class="label label-danger">Wymagane doświadczenie: {{post.exp}}</span>
        								{{/userExp}}
        								{{#postExp user.exp post.exp}}
        									<span class="label label-success">Wymagane doświadczenie: {{post.exp}}</span>
        								{{/postExp}}</li>
                <li class="label label-info">Nagroda w postaci doświadczenia: {{post.expForEmp}}</li>
                {{#same post.remote "tak"}}<li class="label label-info">Praca zdalna</li>{{/same}}

          </ul>

        </header>
        <div class="extended_post">

          {{{post.content.extended}}}
        </div>

      {{#if user}}

        {{#diff user.nick post.author.nick}}

          {{#userExp user.exp post.exp }}

            {{#userIn user._id data.users_id}}
              <form class="" action="/dodaj_uzytkownika" method="post">
                <button class="btn btn-info" type="submit" name="apply">Zgłoś się do projektu</button>
              </form>
            {{/userIn}}

            {{#userOut user._id data.users_id}}
              <span class="label label-success">
                Już zgłosiłeś swój profil do tego projektu.
              </span>
            {{/userOut}}
          {{/userExp}}
          {{#postExp post.exp user.exp}}
            <div class="">
              Niestety masz za mało doświadczenia.
            </div>
          {{/postExp}}
        {{/diff}}


        {{#same user.nick post.author.nick}}
          {{#if data.newEmp}}
            <h4>Do projektu zgłosili się:</h4>
            <form class="" action="/zamknij_ogloszenie" method="post">

            {{#each data.users_exp}}
                <div>
                  {{data.users_exp}}
                <input type="checkbox" name="chfexp" value="{{slug}}">
                  <a href="{{userUrl slug}}">{{nick}}</a> | E-mail: {{email}} | Doświadczenie użytkownika: {{exp}}
                </div>
            {{/each}}
            <br>
            <button type="submit" class="btn btn-info" name="close" >Zamknij ogłoszenie i daj doświadzenie</button>
          </form>
          {{/if}}
          {{#unless data.users_exp}}
            <h4>Brak zgłoszeń.</h4>
          {{/unless}}
        {{/same}}

      {{/if}}
      </article>
    </div>
  </div>
</div>
