
<div class="container-fluid header__profile">

  <div class="container" >
    <div class="col-md-5">
      <div class="col-sm-4 col-xs-6">
        <label for="accFirstName">imię </label>
        <p id="accFirstName"> {{ profile.name.first}}</p>
      </div>
      <div class="col-sm-4 col-xs-6">
        <label for="accLastName">nazwisko </label>
        <p id="accLastName">{{ profile.name.last}}</p>
      </div>
      <div class="col-sm-4 ">
        <label for="accNick">pseudonim </label>
        <p id="accNick" name="nick">{{ profile.nick}}</p>
      </div>
      <div class="col-md-12">
        <label for="emailSpan">adres e-mail</label>
        <p id="emailSpan" name="email">{{ profile.email}}</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-12 col-sm-6 col-sx-12">
        <label for="accWS">Strona internetowa:</label>
        <p id="accWS"><a href="{{ profile.website}}">{{ profile.website}}</a></p>
      </div>
      <div class="col-md-12 col-sm-6 col-sx-12">
        <label for="accFBPI">Adres facebook:</label>
        <p id="accFBPI"><a href="{{ profile.fb_profile}}">{{ profile.fb_profile}}</a></p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="col-md-5 body__profile">
      <div class="col-md-12">
        <label for="accAbout">o mnie </label>
        <p id="accAbout">{{{ profile.about}}}</p>
      </div>
    </div>
    <div class="col-md-3 body__skill">
      <div class="col-md-12">
        <label for="accTS">używane technologie </label>
        <p id="accTS" name="accTS">{{ profile.techstack}}</p>
      </div>
      <div class="col-md-12">
        <label for="accPLev">doświadczenie jako programist</label>
        <p id="accPLev" name="accPLev">{{ profile.prog_lev}}</p>
      </div>
      <div class="col-md-12">
        <label for="accExp">doświadczenie w portalu Code.me </label>
        <p id="accExp" name="exp" >{{ profile.exp}}</p>
      </div>
    </div>
  </div>
</div>
